.content-section{
    max-width: 1150px;
    margin: auto;
}

.button{
    color: white;
    background-color: $button-color;
    border-radius: 8px;

    height: 54px;
    padding: 0 30px;


    font-size: 16px;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;

    &:hover{
        background-color: rgb(44, 81, 232);
    }
}

.secondary-title{
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
    text-align: center;
}