*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input {
  outline: none;
}

img {
  display: block;
  /*width: 100%;
    height: auto;*/
}

ul li {
  list-style: none;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

body {
  font-family: 'Poppins';
  color: #030A1B;
}

.content-section {
  max-width: 1150px;
  margin: auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: white;
  background-color: #2E6EFF;
  border-radius: 8px;
  height: 54px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  background-color: #2c51e8;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondary-title {
  display: inline-block;
  position: relative;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.secondary-title::after {
  content: '';
  position: absolute;
  left: -32px;
  top: -18%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("https://w1.pngwing.com/pngs/793/457/png-transparent-house-symbol-logo-home-red-text-line-area-circle-thumbnail.png");
  background-size: contain;
  z-index: 0;
  opacity: 0.05;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.logo {
  display: inline-block;
  margin-right: auto;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.nav-list__item {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;
  -webkit-transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-list__item:hover {
  color: #FE753F;
  opacity: 1;
}

.nav-link {
  display: block;
  padding: 15px 0 15px 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 50px;
}

.hero-title {
  font-size: 61px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  max-width: 560px;
  margin-top: 45px;
}

.hero-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
  max-width: 560px;
  margin-top: 30px;
}

.hero-img {
  margin-left: auto;
  z-index: 1;
}

.hero-menu {
  position: absolute;
  top: 430px;
  width: 845px;
  z-index: 999;
}

.hero-menu_upsection {
  width: 30%;
  background-color: white;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0px 10px 70px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 70px 10px rgba(0, 0, 0, 0.07);
  padding: 15px 30px;
}

.hero-menu__buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}

.hero-menu__buton {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  background-color: white;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-menu__buton.active {
  color: #FE753F;
  opacity: 1;
}

.hero-menu__buton:hover {
  color: #FE753F;
  opacity: 1;
}

/* --------- SELECT MENU ----------*/
.hero-menu_subsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 0 10px 10px 10px;
  -webkit-box-shadow: 0px 80px 70px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 80px 70px 30px rgba(0, 0, 0, 0.07);
}

.hero-menu__selection-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-menu__selection-item {
  position: relative;
  padding: 0 67px;
}

.hero-menu__selection-item:first-child {
  padding-left: 0;
}

.hero-menu__selection-item::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 30%;
  width: 1px;
  height: 34px;
  background-color: #030A1B;
  opacity: 0.2;
}

.hero-menu__selection-item span {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.hero-menu-select-button {
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  background-color: inherit;
  margin-bottom: 10px;
  cursor: pointer;
}

.hero-menu-select-button > svg {
  fill: inherit;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 110%;
  opacity: 0.8;
}

.partners {
  padding-top: 100px;
}

.partners .partners-title {
  margin-bottom: 65px;
  position: relative;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 59px;
}

.partners-list .partners-item > a {
  display: block;
  padding: 20px;
  -webkit-transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.partners-list .partners-item > a:hover {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.07);
}

.popular {
  padding: 130px 0;
}

.popular .popular-title {
  position: relative;
  margin-bottom: 70px;
  display: inline-block;
}

.popular .popular-title::after {
  content: '';
  position: absolute;
  left: -8%;
  top: -15%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("https://w1.pngwing.com/pngs/793/457/png-transparent-house-symbol-logo-home-red-text-line-area-circle-thumbnail.png");
  background-size: contain;
  z-index: -1;
  opacity: 0.05;
}

.popular .popular__showmore-link {
  float: right;
  color: #FE753F;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.popular-item {
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 70px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 8px 70px 0px rgba(0, 0, 0, 0.07);
}

.popular-item .property__content-container {
  padding: 30px 30px 35px 30px;
}

.popular-item .property__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.popular-item .property__item-title > svg {
  cursor: pointer;
  fill: #bbb;
  margin-left: auto;
}

.popular-item .property__item-title > svg:active {
  fill: red;
}

.popular-item a {
  /* Location */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  margin-top: 10px;
  -webkit-transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.popular-item a:hover {
  opacity: 1;
}

.popular-item a > svg {
  margin-right: 10px;
  opacity: 0.8;
}

.popular-item .property__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.9;
  margin-top: 20px;
}

.popular-item .property__icon-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.popular-item .property__icon-list > li > svg {
  opacity: 0.7;
}

.popular-item .property-cost {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  color: #FE753F;
  margin-top: 26px;
}

.popular-item .property-button {
  float: right;
  height: 44px;
  margin-top: 20px;
}

.features {
  position: relative;
  background-color: #f9f9f9;
  padding: 70px 0;
}

.features-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  margin: auto;
  margin-top: 10px;
  max-width: 728px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}

.features-item {
  width: 362px;
  height: 202px;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 422px;
  margin-bottom: 30px;
  padding: 25px;
  -webkit-transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.features-item:nth-child(2n+1) {
  margin-left: 0;
}

.features-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.features-item:hover {
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.features-item .feature-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  width: 46px;
  border-radius: 6px;
}

.features-item .feature-icon > svg {
  width: 46px;
  height: 46px;
}

.features-item .feature-title {
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
}

.features-item .feature-text {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 10px;
}

.features-img {
  position: absolute;
  bottom: 70;
  right: 50%;
  border-radius: 10px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.features-img:hover {
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.07);
}

.reviews {
  padding: 140px 0;
}

.reviews-uppertitle {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #FE753F;
  text-align: center;
  margin-bottom: 10px;
}

.reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 70px;
}

.review-item {
  max-width: 558px;
  border-radius: 10px;
  border: 2px solid rgba(254, 117, 63, 0.1);
  padding: 30px;
}

.review-item .reviewer-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-item .reviewer-data-container > svg {
  width: 64px;
  height: 64px;
  margin-left: auto;
}

.review-item .reviewer-data-container .reviewer-info {
  margin-left: 31px;
}

.review-item .reviewer-data-container .reviewer-info .reviewer-name {
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.review-item .reviewer-data-container .reviewer-info .reviewer-occupation {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}

.review-item .reviewer-comment {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  margin-top: 30px;
}

.subscription-container {
  position: relative;
  background-color: #433E89;
  padding: 70px 208px;
  border-radius: 10px;
}

.subscription-container::before {
  content: '';
  display: block;
  position: absolute;
  width: 208px;
  height: 208px;
  left: -14%;
  top: 6%;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.1;
  overflow: hidden;
}

.subscription-container::after {
  content: '';
  display: block;
  position: absolute;
  width: 208px;
  height: 208px;
  right: 2%;
  bottom: -36%;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.1;
  overflow: hidden;
}

.subscription-title {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.36;
}

.subscription-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #FFF;
  opacity: 0.7;
}

.subscription-form {
  position: relative;
  margin-top: 70px;
}

.subscription-input {
  height: 70px;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.subscription-button {
  position: absolute;
  top: 50%;
  right: 7;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 0 190px 0;
}

.footer-socials {
  max-width: 260px;
}

.footer-socials .footer__socials-descr {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
  margin-top: 25px;
}

.footer-socials .footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer-socials .footer__socials-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FE753F;
  margin-top: 25px;
  opacity: 0.8;
  -webkit-transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-socials .footer__socials-item > a > svg {
  width: 14px;
  height: 14px;
  fill: white;
}

.footer-socials .footer__socials-item > a:hover {
  background-color: #FE753F;
  opacity: 1;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 175px;
  margin-left: 175px;
}

.footer-nav .footer-nav-title {
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.footer-nav .footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

.footer-nav .footer-nav__item {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.7;
  -webkit-transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-nav .footer-nav__item:hover {
  color: #FE753F;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */