.popular{
    padding: 130px 0;

    .popular-title {
        position: relative;
        margin-bottom: 70px;
        display: inline-block;

        &::after{
            content:'';
            position: absolute;
            left: -8%;
            top: -15%;
            width: 70px;
            height: 70px;

            border-radius: 50%;
            background-image: url("https://w1.pngwing.com/pngs/793/457/png-transparent-house-symbol-logo-home-red-text-line-area-circle-thumbnail.png");
            background-size: contain;
            z-index: -1;
            opacity: 0.05;
        }
    }

    .popular__showmore-link{
        float: right;
        color: $accent-color;
        margin-top: 20px;

        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
    }
}


.popular-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}


.popular-item{
    border-radius: 10px;
    box-shadow: 0px 8px 70px 0px rgba(0, 0, 0, 0.07);


    .property__content-container{
        padding: 30px 30px 35px 30px;
    }

    .property__item-title{
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
        line-height: normal;

        & > svg{
            cursor: pointer;
            fill: #bbb;
            margin-left: auto;
        }

        & > svg:active{
            fill: red;
        }

    }
    
    a { /* Location */
        display: inline-flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;

        opacity: 0.7;

        margin-top: 10px;

        transition: $animation;

        &:hover{
            opacity: 1;
        }

        & > svg{
            margin-right: 10px;
            opacity: 0.8;
        }
    }

    .property__icon-list{
        display: flex;
        align-items: center;
        gap: 20px;

        font-size: 14px;

        font-weight: 400;
        line-height: normal;
        opacity: 0.9;

        margin-top: 20px;

        & > li{
            display: flex;
            align-items: center;
            gap: 5px;

            & > svg{
                opacity: 0.7;
            }
        }
    }

    .property-cost{
        display: inline-block;
        font-size: 22px;
        font-weight: 600;
        line-height: normal;

        color: $accent-color;

        margin-top: 26px;
    }

    .property-button{
        float: right;
        height: 44px;
        margin-top: 20px;
    }
}
